<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                金杰博客
            </a>
        </li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 爬虫 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">pdf文件数据提取</a></li>
                <li><a href="#">网页数据提取</a></li>
            </ul>
        </li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 数据分析/深度学习 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">线性回归</a></li>
                <li><a href="#">分类</a></li>
                <li><a href="#">聚类</a></li>
                <li><a href="#">CNN</a></li>
                <li><a href="#">RNN</a></li>
                <li><a href="#">强化学习</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 网站 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">django</a></li>
                <li><a href="#">flask</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 算法基础 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">机器学习基础</a></li>
                <li><a href="#">k-近邻算法</a></li>
                <li><a href="#">决策树</a></li>
                <li><a href="#">朴素贝叶斯</a></li>
                <li><a href="#">Logistic回归</a></li>
                <li><a href="#">支持向量机的几个通俗理解</a></li>
                <li><a href="#">支持向量机</a></li>
                <li><a href="#">集成方法-随机森林和AdaBoost</a></li>
                <li><a href="#">回归</a></li>
                <li><a href="#">树回归</a></li>
                <li><a href="#">k-means聚类</a></li>
                <li><a href="#">使用Apriori算法进行关联分析</a></li>
                <li><a href="#">使用FP-growth算法来高效发现频繁项集</a></li>
                <li><a href="#">利用PCA来简化数据</a></li>
                <li><a href="#">利用SVD简化数据</a></li>
                <li><a href="#">大数据与MapReduce</a></li>
                <li><a href="#">推荐系统</a></li>
            </ul>
        </li>

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> leet code <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="https://github.com/haoel/leetcode" target="_blank">赛题汇总网址</a></li>

            </ul>
        </li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> Kaggle <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="https://www.kaggle.com/competitions?sortBy=deadline&group=all&page=1&segment=gettingStarted" target="_blank">Getting Started</a></li>
                <li><a href="https://www.kaggle.com/competitions?sortBy=deadline&group=all&page=1&segment=playground" target="_blank">Playground</a></li>
                <li><a href="https://www.kaggle.com/competitions?sortBy=deadline&group=all&page=1&segment=recruitment" target="_blank">Recruitment 招聘</a></li>
                <li><a href="https://www.kaggle.com/competitions?sortBy=deadline&group=all&page=1&segment=featured" target="_blank">Featured  有奖金</a></li>
                <li><a href="https://www.kaggle.com/competitions?sortBy=deadline&group=all&page=1&segment=research" target="_blank">Research  前沿问题</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 行业牛人 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="https://github.com/llSourcell" target="_blank">Siraj Raval</a></li>
            </ul>
        </li>

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-plus"></i> 行业牛人 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="https://github.com/llSourcell" target="_blank">Siraj Raval</a></li>
            </ul>
        </li>

    </ul>
</nav>

