---
layout: default
---

<div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <div class="container">
        <!-- PostList Container -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
            {{ content }}
        </div>
    </div>
</div>
